*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-size: 10px;
}

header{
    width: 1000px;
    border: 2px solid mediumturquoise;
}

h1{
    font-size: 24px;
    background-color: cyan;
    width: 50%;
    padding: 10px;
}

ul{
    font-size: 12px;
}

li > a {
    font-size: 1.5em;
}

h2{
    font-size: 2rem;
}

.one, .second{
    height: 100vh;
    width: 100vw;
}

.one{
    background-color: #5E239D;
    color: #FFFFFF;
}

.second{
    background-color: #3066BE;
    color: #f5f5f5;
}
.one p,
.second p,
.one a,
.second a {
    font-size: 1.8rem;
    color: #f5f5f5;
} 