@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-size: 10px;
}

body{
    font-family: 'Roboto Mono', monospace;
}

h1{
    font-size: 4rem;
    background-color: cyan;
    width: 300px;
    height: 100px;
    margin: 30px;
    padding: 20px;
    border: 5px solid black; /* Shorthand Border Value */
}

ul{
    font-size: 12px;
    border-width: 2px 1px 2px 1px;
    border-color: #5E239D;
    border-style:  dashed;
    padding-block: 10px; /** Padding top (padding-block-start) and bottom (padding-block-end) */
    padding-inline: 5px; /** Padding left (padding-inline-start) and right (padding-inline-end) */
    /* margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px; */
    margin: 20px;
}


li > a {
    font-size: 1.5em;
    text-decoration: none;
}

.one, .second, .contact{
    height: 100vh;
    width: 100vw;
   /*  padding-top: 50px;
    padding-right: 100px;
    padding-bottom: 50px;
    padding-left: 100px; */
    padding: 50px 100px;
}
.one{
    background-color: #5E239D;
    color: #FFFFFF;
    font-weight: 500;
    font-style: oblique;
}

.second{
    background-color: #3066BE;
    color: #f5f5f5;
    font-weight: 700;
    font-style: italic;
}

.section-title {
   padding-block: 1em;
   font-size: 3rem;
   text-align: center;
}

section p {
    text-indent: 2rem;
    line-height: 1.4;
    letter-spacing: .2rem;
    word-spacing: .4rem;
}

.one p,
.second p,
.one a,
.second a {
    font-size: 1.8rem;
    color: #f5f5f5;
} 

.contact {
    font-size: 2rem;
}

.contact-form .input-group, .contact-form textarea{
    margin-bottom: 2rem;
}

.contact-form label{
    font-size: 2rem;
}

.contact-form input, .contact-form textarea, .contact-form button {
    font-size: inherit;
}

