@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root{
    /* CSS HEX */
    --silver-sand: #f2f2f2;
    --white: #FEFEFEff;
    --baby-pink: #f9715e;
    --gray-x-11-gray: #767676;
    --cultured: #EFEDEEff;
    --snow: #f6f2f3;
    --white-2: #FDFDFDff;
    --black: #273238;
    --text-grey: #aaaaaa;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100wv;
    min-height: 100vh;
    background-color: var(--silver-sand);
    font-family: 'Poppins', sans-serif;
}

a{
    color: var(--baby-pink);
    text-decoration: none;
}

button{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;
    height: 30px;
    width: 50%;
    background-color: var(--white);
    padding: .5rem 1rem;
    border: none;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    border-radius: 30px;
}

main.container{
    width: 60%;
    height: 600px;
    display: flex;
    background-color: var(--white);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    border-radius: 25px;
}

.container :is(.one, .two){
    display: flex;
    justify-content: center;
    align-items: center;
}

.container > .one {
    width: 40%;
    background-color: var(--snow);  
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.one > img{
    display: block;
    aspect-ratio: 1/1;
    width: 80%;
    height: auto;
}

.container > .two{
    width: 60%;
}

.container  > .two > div {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.two > div > h2 {
    font-size: 3rem;
    color: var(--black);
}

.two > div > h2 > span{
    color: var(--baby-pink);;
}

.two > div > p {
    color: var(--text-grey);
    font-size: 1.4rem;
}

.signUpForm{
    margin-top: 2rem;
}

.signUpForm > .input-group{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-bottom: 1rem;
}

.input-group > label{
    font-size: 1.4rem;
    color: var(--gray-x-11-gray);
}

.input-group input{
    height: 4rem;
    border: none;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    border-radius: 50px;
    padding-left: 1.5rem;
}

.input-group input::placeholder{
    color: var(--text-grey);
}

.check-group{
    display: flex;
    font-size: 1.4rem;
    gap: .5rem;
    align-items: center;
    margin-block: 1.5rem;
}

.signUpForm > p {
    text-align: center;
    font-size: 1.4rem;
    color: var(--black);
}

.signUpForm > .button-group{
    margin-block: 2rem;
    display: flex;
    gap: 1rem;
}

.button-group > button > i {
    font-size: 2rem;
}

.signUpForm > .single-button{
    display: flex;
    align-items: center;
    justify-content: center;
}

.single-button > button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    text-align: center;
    color: var(--black);
}